@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

.topcontent {
    color: white;
    position: relative;
}

.topcontent__container {
    position: absolute;
    top: 110px;
    right: 300px;
}

.topcontent__container > p {
    letter-spacing: 1px;
    text-align: left;
    padding-left: 3px;
    padding-top: 0px;

}

.topcontent__container > a > button{
    margin-top: 10px;
    text-align:left;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.topcontent__container > h1{
    font-size: 50px;
    font-family: "montserrat", sans-serif;
}

.topcontent__downloadbutton{
    color: white;
    background: red;
    font-size: 15px;
    padding: 5px 5px;
    font-family: "montserrat",sans-serif;
    font-weight: 1000;
    cursor: pointer;
    margin-right: 20px;
}

.topcontent__downloadbutton:hover{
    color:red;
    background-color: white;
    font-weight: 600;
}

.topcontent__projectbutton{
    color: white;
    border: 1px solid white !important;
    background: transparent;
    font-size: 15px;
    padding: 5px 5px;
    font-family: "montserrat",sans-serif;
    font-weight: 1000;
    cursor: pointer;
}

.topcontent__projectbutton:hover{
    color: black;
    background-color: white;
    font-weight: 600;
}